$large: 1280px;

.grid-container {
    margin-top: 100px;
    display: grid !important;

    @media(min-width: $large) {
        grid-gap: 20px;
        grid-template-columns: 50% 25% 25%;
        grid-template-rows: auto auto auto;
    }
}

.btn {
    background-color: white !important;
    position: fixed;
    top: 50px;
    left: 5%;
}

.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    display: inline-block;
    font-size: 13px;
    padding: 5px 15px;
    margin: 5px;
    margin-top: 10px;
    background-color: $very-light-gray;
    box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.75);
}

.info-heading {
    font-weight: 600;
}

.img {
    width: 90%;

    @media(min-width: $large) {
        grid-row: 1/-1;
        grid-column: 1/2;
        width: 80%;
    }
}

.heading {
    margin-top: 20px !important;
    font-weight: 800 !important;
    font-size: 35px !important;

    @media(min-width: $large) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

.first-info {
    padding: 20px 0;

    @media(min-width: $large) {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

.second-info {
    padding: 20px 0;

    @media(min-width: $large) {
        grid-column: 3/4;
        grid-row: 2/3;
    }
}

.border-info {
    padding: 20px 0;

    @media(min-width: $large) {
        grid-column: 2/4;
        grid-row: 3/4;
    }
}