.search-input {
    background-color: white;
    padding: 10px 25px !important;
    width: 80% !important;
    box-shadow: $box-shadow;
}

.wrapper {
    width: 100%;
    padding: 0 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.form {
    width: 300px;
    background-color: $white;
    padding: 0 30px;
    box-shadow: $box-shadow;

    &__label {
        margin: 10px;
    }

    &__select {
        width: 100%;
    }

    &__menu-item {}
}

.MuiInputLabel-formControl {
    transform: none !important;
}

.MuiFormLabel-root {
    color: black !important;
}