body {
    background-color: $very-light-gray;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: 'Nunito Sans', arial, sans-serif !important;
}